// Define color variables here
$white: #ffffff;
$black: #000000;
$gray_blue_dark: #2c3e50;
$bg_dark: #040f0f;
$gray_ligher: #efefef;



// Define transition variables here
$transition: all 0.3s ease-in-out;

// Light and dark theme variables
$themes: (
    default: (
        bg: $white,
        color: $gray_blue_dark,
    ),
    dark: (
        bg: $bg_dark,
        color: $gray_ligher,
    )
);

// Theme mixin
@mixin themed() {
    @each $theme, $map in $themes {
        .theme--#{$theme} & {
            $theme-map: () !global;
            @each $key, $submap in $map {
                $value: map-get(map-get($themes, $theme), '#{$key}');
                $theme-map: map-merge($theme-map, ($key: $value)) !global;
            }
            @content;
            $theme-map: null !global;
        }
    }
}
  
@function t($key) {
    @return map-get($theme-map, $key);
}