@import url("https://fonts.googleapis.com/css2?family=Vidaloka&display=swap");
p {
  margin-bottom: 2.4rem;
}

p:last-child {
  margin-bottom: 0;
  margin-top: 0;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  line-height: inherit;
}

.title {
  font-size: 5.6rem;
  font-family: 'Vidaloka', serif;
  color: inherit;
}

.subtitle {
  font-family: 'Vidaloka', serif;
  font-size: 2rem;
  margin-bottom: 4.8rem !important;
}

a {
  text-decoration: none;
  color: inherit;
}

a:active, a:focus, a:visited {
  color: inherit;
}

a:hover {
  cursor: pointer;
}

.button--circle {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  font-family: 'Vidaloka', serif;
  width: 12rem;
  height: 12rem;
  background: #EFE5AD;
  border-radius: 50%;
  position: relative;
  -webkit-transition: 0.2s ease;
  transition: 0.2s ease;
  margin-top: 6.4rem;
  margin-bottom: 6.4rem;
}

.button--circle:hover {
  margin-top: 3.2rem;
  height: 15.2rem;
  width: 15.2rem;
}

.button--circle span {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  color: #2c3e50;
}

#nav * {
  z-index: 150;
}

#nav #link-home {
  position: fixed;
  top: 1.6rem;
  left: 1.6rem;
  z-index: 50;
}

#nav #link-tickets {
  position: fixed;
  left: 2.4rem;
  bottom: 1.6rem;
  z-index: 50;
}

#nav #link-shop {
  position: fixed;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  bottom: 1.6rem;
  z-index: 50;
}

#nav #link-contact {
  position: fixed;
  right: 1.6rem;
  bottom: 1.6rem;
  z-index: 50;
}

#nav #theme-toggle {
  position: fixed;
  top: 1.6rem;
  right: 1.6rem;
  z-index: 50;
}

#nav #theme-toggle:hover {
  cursor: pointer;
}

#nav .money-change {
  position: fixed;
  top: 1.6rem;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  z-index: 50;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#nav .money-change span {
  margin: 0 1.6rem;
}

#nav .money-change div:hover {
  cursor: pointer;
}

.loader {
  content: "";
  position: fixed;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  height: 0;
  width: 0;
  border-radius: 50%;
  background: #EFE5AD;
  -webkit-transition: 0.5s ease-in-out !important;
  transition: 0.5s ease-in-out !important;
  z-index: 1000;
}

.loader.active {
  width: 135vw;
  height: 135vw;
}

.homepage {
  padding: 0;
  margin: 0;
  width: 100vw;
  height: 100vh;
  background: no-repeat center/cover;
  position: absolute;
  top: 0;
  left: 0;
}

.homepage__overlay {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: -webkit-gradient(linear, left top, left bottom, from(transparent), to(rgba(0, 0, 0, 0.75)));
  background: linear-gradient(to bottom, transparent 0%, rgba(0, 0, 0, 0.75));
  display: block;
  z-index: 1;
}

.homepage__content {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 5;
}

.homepage__content__title {
  font-family: 'Vidaloka', serif;
  font-size: 16rem;
  width: -webkit-fit-content !important;
  width: -moz-fit-content !important;
  width: fit-content !important;
  margin-bottom: 2.4rem;
  color: #EFE5AD;
  position: relative;
}

.homepage__content__title::after {
  content: "";
  display: block;
  height: 0.1rem;
  background: #EFE5AD;
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
}

.homepage__content p {
  text-align: center;
  color: #EFE5AD;
  font-family: 'Vidaloka', serif;
  font-size: 2rem;
}

.about {
  margin-top: 5.6rem;
  padding-left: 6.4rem;
  border-left: 0.1rem solid #EFE5AD;
  width: 75%;
}

.about p {
  margin-bottom: 1.6rem;
}

.about .button--circle {
  margin-top: 3.2rem;
  margin-bottom: 0;
  margin-left: auto;
  display: block;
}

.about .button--circle:hover {
  margin-top: 3.2rem;
  margin-bottom: 0;
  margin-left: auto;
  width: 12rem;
  height: 12rem;
  background: #e9db8d;
}

.quote {
  font-size: 3.2rem;
  margin-top: 1.6rem;
  margin-bottom: 3.2rem;
  font-family: 'Vidaloka', serif;
}

.contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  height: 100%;
}

.contact__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 37.5%;
  padding-left: 12.8rem;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.contact__form form {
  margin-top: 2.4rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.contact__form form .field {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  margin-bottom: 1.6rem;
}

.contact__form form .field label {
  font-size: 1.6rem;
  font-family: 'Vidaloka', serif;
  margin-bottom: 0.8rem;
}

.contact__form form .field input, .contact__form form .field textarea, .contact__form form .field select {
  background: none;
  -webkit-box-shadow: none;
          box-shadow: none;
  outline: none;
  padding: 0.8rem 1.6rem;
  border: 0.1rem solid #EFE5AD;
  color: inherit !important;
  border-radius: 0.8rem;
  font-family: sans-serif;
}

.contact__form form .field textarea {
  height: 10rem;
}

.contact__form form .name {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.contact__form form .name .field {
  width: 48.5%;
}

.contact__image {
  width: 42.5%;
  content: "";
  background: no-repeat center/cover;
  height: auto;
}

.ticket {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 3.2rem;
}

.ticket__image {
  width: 100%;
  padding-bottom: 20rem;
  content: "";
  background: no-repeat center/cover;
  margin-bottom: 1.6rem;
}

.ticket__date {
  margin-bottom: 0.2rem;
  text-transform: lowercase;
}

.ticket__title {
  font-size: 2rem;
  font-family: 'Vidaloka', serif;
  margin-bottom: 0.2rem;
}

.ticket__place {
  opacity: 0.65;
  text-transform: uppercase;
  margin-bottom: 0.4rem;
}

.ticket__price {
  font-size: 2.4rem;
  font-weight: 700;
  margin-bottom: 0.8rem;
}

.ticket__link {
  -webkit-transition: 0.2s ease;
  transition: 0.2s ease;
}

.ticket__link:hover {
  cursor: pointer;
  color: #EFE5AD;
}

.prochaine_expo {
  font-family: 'Vidaloka';
}

.prochaine_expo h1 {
  font-family: 'Vidaloka';
  text-align: center;
}

.prochaine_expo .prochaines_expo_first {
  margin-left: 5%;
  display: inline-block;
  width: 21%;
}

.prochaine_expo .prochaines_expo_first img {
  width: 80%;
  height: 300px;
  -o-object-fit: cover;
     object-fit: cover;
}

.prochaine_expo .prochaines_expo_first p {
  font-size: 24px;
}

.prochaine_expo .prochaines_expo_first span {
  font-size: 36px;
}

.prochaine_expo .prochaines_expo_second {
  margin-left: 2%;
  display: inline-block;
  width: 21%;
}

.prochaine_expo .prochaines_expo_second img {
  width: 90%;
  height: 400px;
  -o-object-fit: cover;
     object-fit: cover;
}

.prochaine_expo .prochaines_expo_second p {
  font-size: 24px;
}

.prochaine_expo .prochaines_expo_second span {
  font-size: 36px;
}

.prochaine_expo .prochaines_expo_three {
  margin-left: 2%;
  display: inline-block;
  width: 21%;
}

.prochaine_expo .prochaines_expo_three img {
  width: 100%;
  height: 300px;
  -o-object-fit: cover;
     object-fit: cover;
}

.prochaine_expo .prochaines_expo_three p {
  font-size: 24px;
}

.prochaine_expo .prochaines_expo_three span {
  font-size: 36px;
}

.prochaine_expo .prochaines_expo_four {
  margin-left: 2%;
  display: inline-block;
  width: 21%;
}

.prochaine_expo .prochaines_expo_four img {
  width: 100%;
  height: 200px;
}

.prochaine_expo .prochaines_expo_four p {
  font-size: 24px;
}

.prochaine_expo .prochaines_expo_four span {
  font-size: 36px;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.5rem;
  width: 100vw;
  height: 100vh;
  max-width: 100vw;
  max-height: 100vh;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #2c3e50;
  margin: 0;
}

.site-content {
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

.theme--default .site-content {
  color: #2c3e50;
  background: #ffffff;
}

.theme--default .site-content *.title, .theme--default .site-content label, .theme--default .site-content .ticket__title, .theme--default .site-content .quote {
  color: #000000;
}

.theme--dark .site-content {
  color: #efefef;
  background: #040f0f;
}

.theme--dark .site-content *.title, .theme--dark .site-content label, .theme--dark .site-content .ticket__title, .theme--dark .site-content .quote {
  color: #EFE5AD;
}

#router-container {
  -webkit-transition: 0.2s ease;
  transition: 0.2s ease;
  padding: 5.6rem 0;
  min-width: 100vw;
  min-height: 100vh;
}

.section {
  width: 100%;
  max-width: 132rem;
  margin: auto;
}
/*# sourceMappingURL=app.css.map */