@import url("https://fonts.googleapis.com/css2?family=Vidaloka&display=swap");
p {
  margin-bottom: 2.4rem;
}

p:last-child {
  margin-bottom: 0;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  line-height: inherit;
}

.title {
  font-size: 3.2rem;
  font-weight: 700;
}

body {
  display: inline-block;
  background-color: #000000;
}

body .goodies_line {
  width: 18%;
  height: 0.5px;
  background-color: #687CC5;
  margin-left: 3.2%;
  margin-bottom: 1%;
}

body h1 {
  display: inline-block;
  color: #687CC5;
  font-family: Vidaloka;
  font-size: 60px;
  margin-left: 3%;
}

body h4 {
  margin-left: 1%;
  display: inline-block;
  font-size: 22px;
  font-family: Vidaloka;
  color: #EFE5AD;
  opacity: 0.4;
}

div.goodies_first_line {
  color: #EFE5AD;
  font-family: Vidaloka;
  margin-left: 5%;
}

div.goodies_first_line_tasse1 {
  display: inline-block;
  width: 30%;
}

div.goodies_first_line_tasse1 img {
  display: inline-block;
  width: 50%;
  max-height: 200px;
}

div.goodies_first_line_tasse1 h3 {
  margin-top: 4%;
}

div.goodies_first_line_sweat1 {
  display: inline-block;
  width: 30%;
}

div.goodies_first_line_sweat1 img {
  width: 50%;
  max-height: 200px;
}

div.goodies_first_line_sweat1 h3 {
  margin-top: 4%;
}

div.goodies_first_line_poster1 {
  display: inline-block;
  width: 30%;
}

div.goodies_first_line_poster1 img {
  width: 50%;
  max-height: 200px;
}

div.goodies_first_line_poster1 h3 {
  margin-top: 4%;
}

div.goodies_second_line {
  color: #EFE5AD;
  font-family: Vidaloka;
  margin-left: 5%;
  margin-top: 2%;
}

div.goodies_second_line_tasse {
  display: inline-block;
  width: 30%;
}

div.goodies_second_line_tasse img {
  width: 50%;
  min-height: 200px;
}

div.goodies_second_line_tasse h3 {
  margin-top: 4%;
}

div.goodies_second_line_sweat {
  display: inline-block;
  width: 30%;
}

div.goodies_second_line_sweat img {
  width: 50%;
  max-height: 200px;
}

div.goodies_second_line_sweat h3 {
  margin-top: 4%;
}

div.goodies_second_line_poster {
  display: inline-block;
  width: 30%;
}

div.goodies_second_line_poster img {
  width: 50%;
  max-height: 200px;
}

div.goodies_second_line_poster h3 {
  margin-top: 4%;
}

a {
  text-decoration: none;
  color: inherit;
}

a:active, a:focus, a:visited {
  color: inherit;
}

a:hover {
  cursor: pointer;
}

#nav #link-home {
  position: fixed;
  top: 1.6rem;
  left: 1.6rem;
}

#nav #link-shop {
  position: fixed;
  left: 1.6rem;
  bottom: 1.6rem;
}

#nav #link-contact {
  position: fixed;
  right: 1.6rem;
  bottom: 1.6rem;
}

#nav #theme-toggle {
  position: fixed;
  top: 1.6rem;
  right: 1.6rem;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.5rem;
  width: 100vw;
  height: 100vh;
  max-width: 100vw;
  max-height: 100vh;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #2c3e50;
  margin: 0;
}

#router-container {
  -webkit-transition: 0.2s ease;
  transition: 0.2s ease;
  padding: 5.6rem 0;
}

.section {
  width: 100%;
  max-width: 132rem;
  margin: auto;
}
/*# sourceMappingURL=app.css.map */