// Global
@import './global/fonts';
@import './global/variables';
@import './global/typography';

// Atoms
@import './atoms/links';

// Molecules
@import './molecules/nav';
@import './molecules/loader';

// Layout
@import './layout/contact';
@import './layout/tickets';

html {
    font-size: 62.5%;
}

body {
    font-size: 1.5rem;
    width: 100vw;
    height: 100vh;
    max-width: 100vw;
    max-height: 100vh;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    font-family: Avenir, Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: $gray_blue_dark;
    margin: 0;
}

.site-content {
    transition: 0.3s ease-in-out;

    @include themed() {
        color: t('color');
        background: t('bg');

        *.title, label, .ticket__title {
            color: t('title');
        }
    }
}

#router-container {
    transition: 0.2s ease;
    padding: 5.6rem 0;
    min-width: 100vw;
    min-height: 100vh;
}

.section {
    width: 100%;
    max-width: 132rem;
    margin: auto;
}