.expos {
    .swiper-expos {
        margin-top: 2.4rem;
    }

    .expo {
        display: flex;
        flex-direction: column;

        &:nth-child(even) {
            .expo__image {
                order: 2;
            }

            .expo__content {
                order: 1;
                margin-top: 0;
                margin-bottom: 1.2rem;
            }
        }

        &__image {
            width: 100%;
            padding-bottom: 55vh;
            content: "";
            background: no-repeat top center/cover;
        }

        &__date {
            text-transform: lowercase;
        }

        &__title {
            font-size: 3.2rem;
            font-family: 'Vidaloka', serif;
        }

        &__place {
            text-transform: uppercase;
            filter: opacity(0.65);
        }

        &__price {
            font-size: 2.4rem;
            font-weight: 900;
        }

        &__content {
            display: flex;
            flex-direction: column;
            margin-top: 1.2rem;
        }
    }
}