@import url('https://fonts.googleapis.com/css2?family=Vidaloka&display=swap');
body {
    display: inline-block;
    background-color: #000000;

    .goodies_line{
        width : 18%;
        height: 0.5px;
        background-color: #687CC5;
        margin-left: 3.2%;
        margin-bottom: 1%;
    }
     h1 {
         display: inline-block;
         color: #687CC5;
         font-family: Vidaloka;
         font-size: 60px;
         margin-left: 3%;
     }
     h4 {
         margin-left: 1%;
         display: inline-block;
         font-size: 22px;
         font-family: Vidaloka;
         color: #EFE5AD;
         opacity: 0.4;

     }
}
div.goodies_first_line {
    color: #EFE5AD;
    font-family: Vidaloka;
    margin-left: 5%;
    &_tasse1 {
        display: inline-block;
        width : 30%;
        img { display: inline-block;
            width: 50%;
            max-height: 200px;
        }
       
        h3 {
            margin-top: 4%;
        }
        
    }
    &_sweat1 {
        display: inline-block;
        width: 30%;
        img {
            width: 50%;
            max-height: 200px;
        }
        h3 {
            margin-top: 4%;
        }
    }
    &_poster1 {
        display: inline-block;
        width: 30%;
        img {
            width: 50%;
            max-height: 200px;
        }
        h3 {
            margin-top: 4%;
        }
    }
    
    
}
div.goodies_second_line {
    color: #EFE5AD;
    font-family: Vidaloka;
    margin-left: 5%;
    margin-top: 2%;
    &_tasse {
        display: inline-block;
        width : 30%;
        img {
            width: 50%;
            min-height: 200px;
        }
        h3 {
            margin-top: 4%;
        }
        
    }
    &_sweat {
        display: inline-block;
        width: 30%;
        img {
            width: 50%;
            max-height: 200px;
        }
        h3 {
            margin-top: 4%;
        }
        
    }
    &_poster {
        display: inline-block;
        width: 30%;
        img {
            width: 50%;
            max-height: 200px;
        }
        h3 {
            margin-top: 4%;
        }
        
    }
    
    
}

